@import "tailwindcss";

@theme {
  --font-sans: "Avenir", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  --color-primary: #c0392b; /* 类似 red-700 */
}

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: var(--font-sans);
}
